body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.0rem;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.yellow {
    background-color: #f5df19;
}

.red {
    background-color: rgb(230, 77, 77);
}

.purple {
    background-color: rgb(185, 53, 185);
}

.green {
    background-color: rgb(94, 216, 94);
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(138, 190, 58);
}